


body {
  background-color: #ffffff;
}


header {
  width: auto;
  height: 80px;
}

.row {
  border-bottom: solid black 1px;
}

.logo {
  height: 20px;
  width: auto;
}

.nav {
  color: black;
  display: inline-block;
}
