


body {
  background-color: #ffffff;
}


header {
  width: auto;
  height: 80px;
  border-bottom: 1px solid black;
}

.logo {
  height: 20px;
  width: auto;
}

.nav {
  color: black;
  display: inline-block;
}
