


body {

}


ul {
    display: block;
    list-style: none;
    background: blue;
}

.container {
  width: auto;
  height: 80px;
  border-bottom: 5px solid black;
}

.row {
  border: 5px solid black;
}

.bottomBorder {
  border-bottom: 5px solid black;
}

.row .logo {
  height: 20px;
  width: auto;
}

.row .nav {
  color: black;
}
